parameters:
    level: max
    paths:
    - src

    # Legacy stuff to be periodically reviewed
    ignoreErrors:
    -   # Legacy quarantine implementatioo leftovers, need to be ported
        identifier: property.onlyWritten
        path: src/Form/AntiSpamFormResult.php
        count: 2
