parameters:
    level: max
    paths:
    - src

#    # Legacy stuff to be periodically reviewed
    ignoreErrors:
#    -   # Example of an ignore entry
#        identifier: property.onlyWritten
#        path: src/Form/AntiSpamFormResult.php
#        count: 2
