parameters:
    level: max
    paths:
    - src
    - tests
    excludePaths:
    - tests/Fixture

#    # Legacy stuff to be periodically reviewed

    ignoreErrors:
#    -   # Example of an ignore entry
#        identifier: property.onlyWritten
#        path: src/Form/AntiSpamFormResult.php
#        count: 2
