<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         colors="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         executionOrder="random"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache">
  <php>
    <ini name="date.timezone" value="UTC"/>
    <ini name="error_reporting" value="-1"/>
    <ini name="intl.default_locale" value="en"/>
    <ini name="intl.error_level" value="0"/>
    <ini name="memory_limit" value="-1"/>
    <env name="APP_ENV" value="test"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    <env name="KERNEL_CLASS" value="\Tests\Fixture\Kernel"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>./tests/Unit</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>./tests/Functional</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <!-- No test cases for the commands during development -->
      <directory>./src/Command/</directory>
    </exclude>
  </source>
  <coverage pathCoverage="false">
  </coverage>
</phpunit>
