{% extends 'base.html.twig' %}
{% set title = 'Omines Anti-Spam Bundle test site' %}

{% block body %}
    <div class="row">
        <div class="col-xxl-6 col-xl-8 col-lg-10">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
